
{% extends 'Levels/base.html' %}



{% block content %}



    {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
                <li>
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                        {{msg.message}}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


<h2>Linguistics Rules are here.</h2>

    <div class="post">

<blockquote>

        <p>
            Construct Levels of Difficulty here at level of
            GR, CVC, Word.

            In order to construct linguistic rules for the selection of certain types of words form
            the dictionary, we want to groups items and determine a linear sequence of introduction.
            For example, some consonant letters may be easier than others.
            Perhaps you have some information on childrens acquisition of language phenomena that
            you are able to encode here.

            For example, we know that m,n and l are easier for kids to learn. So we pick this set as the
            easiest letters along with the basic vowels.
            Diphthongs on the other hand are grouped but associated with a higher level in the sequence.
            For example, eu, äu, ei are such a group.
            These lists can be used as a variable in the next step when we define the rules along which
            words are picked out from the dictionary.

        </p>
        <small> short overview</small>

</blockquote>

     </div>





{% endblock content %}

