
{% extends 'Wordout/base.html' %}



{% block content %}

    <div class="post">


    <h1> Generating input to games: </h1>
    <h2> This is the place where you can generate the input to the games. </h2>
    <blockquote>
        <p>

        Based on the games and their rules and the linguistic rules
        you can now generate inputs to the games for your dictionary.
        Basically, you get to follow a workflow that helps you define the
        inputs and outputs for the specific game type that you are filling.
        Along the way, the rules are shown and the wordlists, so you can get
        a feel for whether or not the rules make sense and are picking out
        the corret items and distractors.
        <br>
        In fact working on this as well as the previous steps, it might
        be useful to work together with a teacher.
        <br>
        The idea is to save the rules and word lists to a json file that is
        directly readable by the games.
        <br>
        I still need to implement being able to edit the associations.
    </p>
        <small> short overview</small>
    </blockquote>
    </div>

{% endblock content %}

