{% extends 'Wordout/base.html' %}

{% block content %}

    <a href="{% url 'wordout_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>


    <h2> Listing of Association: </h2>

{#        <a href="{% url 'game_edit' pk=game.id %}" class="top-menu"><span class="glyphicon glyphicons-edit"></span></a>#}



    <div class="post">

<table class="table table-condensed">


    <tbody>

    {%  for association in associations %}
        <tr>
            <td>
                {{ association.name }}
            </td>
            <td>
                {{ association.question }}
            </td>
            <td>
                {{ association.gameType }}
            </td>
            <td>
                <a href="{% url 'wordout_print' pk=association.pk %}"><span class='glyphicon glyphicon-eye-open'></span></a>
            </td>
            <td>
                <a href="{% url 'wordout_edit' pk=association.pk %}"><span class='glyphicon glyphicon-edit'></span></a>
            </td>
            <td>
                <a  href="{% url 'wordout_delete' pk=association.pk %}" onclick="return confirm('really?')">
                    <span class='glyphicon glyphicon-trash'></span>
                </a>
            </td>
        </tr>
    {%  endfor %}

    </tbody>


</table>

    </div>

    <button type="button" class="btn btn-success">Save all as JSON (todo)</button>


{% endblock %}

