
{% extends 'Wordout/base.html' %}



{% block content %}

    <div class="post">


        <h2> Now its time to add the rules to generate the answer candidate:  </h2>
        <ul>
        <li> Game Type: "{{ gametype.name }}" <span class='glyphicon glyphicon-check' style="color:greenyellow"></span></li>
        <li> Rule: "{{ rule.name }}" <span class='glyphicon glyphicon-cog' style="color:deepskyblue"></span></li>
        <li> Distractor: "..." <span class='glyphicon glyphicon-question-sign' style="color:red"></span></li>
        <li> Question(s): "..." <span class='glyphicon glyphicon-question-sign' style="color:red"></span></li>
        </ul>


        <h2>Description</h2>
        <p>
            {{ gametype.description }}
        </p>

        <h2>Games in the category are: </h2>
        <ul>
            {% for game in games %}
                <li>{{ game }}</li>
            {% endfor %}
        </ul>

        <h2>Current rules that are associated: </h2>
        <p>There are/is currently {{ num_chosen_rules }} rule(s) associated to this type of game. </p>

        <h2> Choose all that apply. </h2>

        <ul>
            {% for rule in chosenRules %}
                <li>{{ rule.name }}</li>
            {% endfor %}
        </ul>



        <p>
            There are/is {{ num_all_rules }} existing rule(s).
            To add more rules, you should go to the linguistics tab.
        </p>
{% comment %}

        <table class="table table-condensed">


            <tbody>


            {% for rule in allRules %}
                <tr>
                    <td>
                        <span class="">
                            <input type="checkbox" aria-label="...">
                        </span>
                    </td>
                    <td>
                        {{ rule.name }}
                    </td>

                </tr>
            {% endfor %}

            </tbody>

         </table>

{% endcomment %}

              {% comment %}
                <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" aria-label="...">
                    </span>
                    {{ rule.name }}
                    <input type="text" class="form-control" aria-label="...">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            {% endcomment %}



            {% comment %}
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="radio" aria-label="...">
                    </span>
                    <input type="text" class="form-control" aria-label="...">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            {% endcomment %}






    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create" />
    </form>


 </div>
{% endblock content %}

