
{% extends 'base.html' %}


{% block allcontent %}



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ settings.BASE_DIR }}/Linguistics/">Linguistics</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ settings.BASE_DIR }}/Linguistics/linguistics_list/">Rule Listing</a></li>
{#        <li class="active"><a href="{{ settings.BASE_DIR }}/Linguistics/gametype_list/">Gametypes</a></li>#}

{#      <li><a href="/">Top</a></li>#}

    </ul>
  </div>
</nav>





<body>
<div class="page-header">
    <h1><a href="/">Manage Linguistic Rules</a></h1>
</div>




{% if messages %}
    <ul class="messages">
        {% for msg in messages %}
            <li>
                <div class="alert alert-{{msg.level_tag}}" role="alert">
                    {{msg.message}}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}



<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>

{% endblock allcontent %}

