
{% extends 'Linguistics/base.html' %}



{% block content %}



    {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
                <li>
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                        {{msg.message}}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


<h2>Linguistics Rules are here.</h2>

    <div class="post">



        <p>
            This is were we will collect and define linguistic rules.
        </p>



     </div>





{% endblock content %}