{% extends 'Linguistics/base.html' %}

{% block content %}


    <a href="{% url 'linguistics_new'%}" class="top-menu">add<span class="glyphicon glyphicon-plus"></span></a>


    <h2>Rules Listing: </h2>

{#        <a href="{% url 'linguistics_new' %}" class="top-menu"><span class="glyphicon glyphicons-plus"></span></a>#}



    <div class="post">

<table class="table table-condensed">


    <tbody>

    {%  for rule in rules %}
        <tr>
            <td>
                {{ rule.name }}
            </td>
            <td>
                {{ rule.description }}
            </td>
            <td>
                <a href="{% url 'linguistics_edit' pk=rule.pk %}"><span class='glyphicon glyphicon-edit'></span></a>
            </td>
            <td>
                <a href="{% url 'linguistics_duplicate' pk=rule.pk %}"><span class='glyphicon glyphicon-duplicate'></span></a>
            </td>
            <td>
                <a href="{% url 'linguistics_Rulelist' pk=rule.pk %}"><span class='glyphicon glyphicon-list'></span></a>
            </td>
            <td>
                <a href="{% url 'linguistics_delete' pk=rule.pk %}"><span class='glyphicon glyphicon-trash'></span></a>
            </td>
        </tr>
        <tr>
        <td></td>
        <td>
            Word: {{ rule.word }}, GR: {{ rule.gr }}, PH: {{ rule.ph }}, CVC: {{ rule.CVC }}
        </td>
        <td></td>
        <td></td>
        </tr>
    {%  endfor %}

    </tbody>


</table>

    </div>



{% endblock %}

