
{% extends 'Input/base.html' %}



{% block content %}

    <div class="post">

    <h1> This website helps you to organize your linguistic rules, dictionary and games input and output </h1>
<blockquote>
    <p>* means that it is implemented. </p>

    <h2> Follow the tabs at the top in order to:  </h2>
    <ul>
        <li> Upload/Edit/Save current dictionary.* </li>
        <li> Define Learning Sequences for sets of Words, Letters(*), CVC-structures(*), GR-PH correspondences etc. </li>
        <li> Define linguistic rules that define sets of words to select from the database. (partial *)
            You can use variables that refer to the sets defined in the previous step. </li>
        <li> Define games and game types*. Define required in- and outputs for the games. </li>
        <li> Associate linguistic rules* with each of the inputs and perhaps outputs as needed. </li>
        <li> Generate input, output and questions for games based on above.* </li>
    </ul>
        <small> short overview</small>

</blockquote>

{% comment %}    Afterwards, you will be able to test the word generation for each of the games.

    <p></p>

    {% if latest_question_list %}
{#        <ul>#}
        <table align="center" style="width:100%">

        <tr>
                <th>Question</th>
                <th></th>
                <th></th>
            </tr>


            {% for question in latest_question_list %}
{#                <li>#}

                <tr>
                    <td>
                        {{ question.question_text }}
                    </td>
                    <td align="center">
                        <a href="{% url 'results' question.id %}" class="btn btn-default">View</a>
                    </td>
                    <td align="center">
                         <a href="{% url 'detail' question.id %}" class="btn btn-default">Change</a>
                    </td>
                </tr>





{#                </li>#}

            {% endfor %}
        </table>
{#        </ul>#}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}


    </div>{% endcomment %}


{% endblock content %}



