
{% extends 'Database/base.html' %}

{% block content %}


    <a href="{% url 'entry_new' pk=id %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

    {{ id }}

    <h2>Current Listing of High Frequency Words (HFW) in Database {{ d.language }}</h2>
<blockquote>
    <p>
    {{ num_entries }} high frequency words (HFW) are listed in the current dictionary.
    These are not to be used in exercises that have to do with learning how to spell.
    They are irregular and memorized by kids.
    At least German kids misspell these often and also have problems with writing them correctly.
    Examples are das vs. dass, or wen vs. wenn.
</p>
</blockquote>
    <table class="table table-condensed">


        <tbody>

        {%  for entry in entries %}
            <tr>
                <td>
                    {{ entry.word }}
                </td>
                <td>
                    {{ entry.ph }}
                </td>
                <td>
                    {{ entry.gr }}
                </td>
                <td>
                    {{ entry.CVC }}
                </td>
            </tr>
        {%  endfor %}

        </tbody>


        </table>

{% endblock %}
