
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
/*
    FORM STYLING
*/
#fileselector {
    margin: 10px;
}
#upload-file-selector {
    display:none;
}
.margin-correction {
    margin-right: 10px;
}

#list  p {
    font: arial;
    font-size: 14px;
    background-color: yellow ;
}

