{% extends 'Games/base.html' %}


{% block content %}

    {% comment %}<script>
        $(document).ready(function() {
            alert( "ready!" );
        });
    </script>{% endcomment %}
<div class="post">


    <h1>Game Type Details: </h1>

    <h2>
        <a href="{% url 'gametype_edit' pk=gametype.id %}"><span class='glyphicon glyphicon-edit'></span></a>
        {{ gametype.name }}
    </h2>
    <h3>Description:</h3>
    <p>
        {{ gametype.description }}
    </p>
</div>





{% endblock %}


