
{% extends 'Games/base.html' %}

{% block content %}

    <a href="{% url 'gametype_new'%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>


    <h2>Gametype Listing: </h2>

{#        <a href="{% url 'game_edit' pk=game.id %}" class="top-menu"><span class="glyphicon glyphicons-edit"></span></a>#}



    <div class="post">

<table class="table table-condensed">


    <tbody>

    {%  for type in gametypes %}
        <tr>
            <td>
                {{ type.name }}
            </td>
            <td>
                {{ type.description }}
            </td>
            <td>
                <a href="{% url 'gametype_edit' pk=type.pk %}"><span class='glyphicon glyphicon-edit'></span></a>
            </td>
            <td>
                <a href="{% url 'gametype_delete' pk=type.pk %}"><span class='glyphicon glyphicon-trash'></span></a>
            </td>
        </tr>
    {%  endfor %}

    </tbody>


</table>

    </div>



{% endblock %}
