
{% extends 'Games/base.html' %}



{% block content %}



    {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
                <li>
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                        {{msg.message}}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


<h2>Games are here</h2>

    <div class="post">

<blockquote>

        <p>
            In this section each of the games are uploaded and associated with a type.
            All types can be defined.
            A type defines the input and output of a game.
            Various games can implement a particular type.
            One such example is the type multiple choice.
            <br>
            Here you need:
        </p>
        <ul>
            <li> a question</li>
            <li> one correct answer</li>
            <li> a number of smart choices for incorrect answers</li>
        </ul>

        <p>
            In order to pick the correct set of words for a given input,
            you will be associating the linguistics rules that you defined
            earlier in the next step.

        </p>
        <small> short overview</small>


</blockquote>
     </div>





{% endblock content %}

